{% extends "template.html" %}
{% block title %}Email your {{ representative_type }}{% endblock %}
{% block body_attrs %}class="mp-write"{% endblock %}
{% block head %}
  <script type="text/javascript">
    $(function() {
      // Make links from the advice open in a separate window, so
      // the user does not risk losing their partly-written letter.
      var form = $("#writetothem form");
      form.submit(function(e) {
        var div = $(".required").closest("div");

        var ok = true;
        div.find("input").each(function() {
          var value = $.trim($(this).val());
          if (!value) {
            ok = false;
            div.addClass("error");
          }
          else {
            div.removeClass("error");
          }
        });
        if (ok) {
          {% if store_what == "name_email_and_postcode" %}
            $.post("/mp/letter-sent", {
              name: "{{ name }}", email: "{{ email }}",
              postcode: "{{ postcode }}", opted_in: "{{ opt_in }}"
            });
          {% elif store_what == "letter" %}
            $.post("/mp/letter-sent", form.serialize() + '&mp_person_id={{ mp.person_id }}&writer_opted_in={{ opt_in }}');
          {% endif %}
        }
        return ok;
      });
  </script>
{% endblock %}
{% block body %}
          <div id="mp-details">
            <img id="mp-photo" align="left" alt="" src="http://www.theyworkforyou.com{{ mp.image }}" height="{{ mp.image_height }}" width="{{ mp.image_width }}">
            <div class="mp-meta">
              <h2>Your MP</h2>
              {{ mp.full_name }}<br>
              {{ mp.party }} {{ representative_type }} for {{ mp.constituency }}<br>
              {% if mp.office %}
                {% for office in mp.office %}
                  <b>{{ office.position }}{% if office.dept %}, {{ office.dept}}{% endif %}</b><br>
                {% endfor %}
              {% endif %}
              <span id="not-your-mp">(<a href="{{ not_your_mp_href }}">Not your {{ representative_type }}? Click here</a>)</span>
            </div>
            <div class="clear"></div>
          </div>
 {% if "labour" in mp.party.lower() %}
  <div id="writetothem">
      <form action="https://www.writetothem.com/write" method="POST" target="_blank">
          <input type="hidden" name="mysociety_serialized_variables" value="{{ mysociety_serialized_variables }}">
          <input type="hidden" name="name" value="{{ name }}">
          <input type="hidden" name="writer_email" value="{{ email }}">
          <input type="hidden" name="writer_email2" value="{{ email }}">

          <div id="address">
              <div id="advice">
                  <div id="general-advice">
                    <p>Use your own words, keep it brief, and only write to your own {{ representative_type }}.</p>
                    <p>Please be polite, concise and to the point. A few paragraphs are much more likely to be read with interest than a few pages.</p>
                  </div>
                  <div id="finally">
                    We use the <a href="https://www.writetothem.com/about-qa" target="_blank">WriteToThem</a> service to contact your {{ representative_type }}.
                    When you press the preview button, a new window will open on the WriteToThem site.
                  </div>
              </div>
              <textarea name="body">

Dear {{ mp.full_name }},

I first wrote to you back in June in order to urge you to nominate Jeremy Corbyn for the leadership of the Labour Party, in order to ensure that the broadest range of views were available to be voted upon by the party membership.

Since then, I've been overwhelmed by the level of support that Jeremy's Campaign has received, and I'd like to thank you for your time in reading and considering that request, and for nominating Jeremy if you were one of the MPs to do so. Without your help, a significant proportion of the Labour grassroots would not have had the opportunity to have their voice heard in this important contest. Whatever the result of the ballot, we have had the opportunity to carry out the leadership campaign in a true spirit of democracy and inclusiveness, and of that we can be very proud.

However, I am distressed to note that a number of Labour MPs and public figures have, in anticipation of a victory for Mr Corbyn, begun actively briefing against him, questioning his legitimacy, and even threatening all-out revolt were he to gain the leadership. To do so is to deny the party membership the democratic right to choose a leader, directly contradicting the stated aims and values of the Labour Party.

I am therefore writing to you again in order to urge you to make a commitment to the unity of the party, regardless of the outcome of the ballot, and to urge your colleagues at Westminster to do the same.  Now more than ever, with the prospect of 5 more years of Tory government, it is crucial that we present a united front as a party, and all commit to playing our part, for the good of the party and the country.


Yours sincerely,

{{ name }}
              </textarea>
              <div class="field"><label for="wttf-address1">Address:<span class="required"> (required)</span></label><input class="textfield" id="wttf-address1" type="text" name="writer_address1" value=""></div>
              <div class="field"><label for="wttf-address2">&nbsp;</label><input class="textfield" id="wttf-address2" type="text" name="writer_address2" value=""></div>
              <div class="field"><label for="wttf-town">Town/city:<span class="required"> (required)</span></label><input class="textfield" id="wttf-town" type="text" name="writer_town" value=""></div>
              <div class="field"><label for="wttf-county">County:</label><input class="textfield" id="wttf-county" type="text" name="state" value=""></div>
              <div class="field"><label class="inline-label" for="postcode">Postcode:</label><span id="postcode">{{ postcode }}</span></div>
          </div>
          <div id="phone"><label for="wttf-town">Phone:</label><input class="textfield" id="wttf-phone" type="text" name="writer_phone" value=""></div>
          <div class="submit">When you’re ready: <input class="submit" name="submitPreview" value="Preview your Message" type="submit"></div>
      </form>
  </div>
  <div style="clear: both;"></div>
  {% else %}
    <div class="apology">
      <p>Sorry, your local MP isn't a Labour party member. You can still help by sharing this page on Facebook though, and encouraging your friends to contact their MPs!</p>
    </div>
  {% endif %}
{% endblock %}
