html, body {
  background-color: #dc1500 !important;
}

#tagline {
  position: static;
}

#tagline-inner {
  font-size: 12px;
  line-height: 18px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: none;
  -webkit-transform: none;
  top: 10%;
}

#write-mp-inner {
  width: 45%;
  margin-left: 10%;
  font-weight: normal;

}

#tagline-inner h2, #tagline-inner p, #tagline-inner label {
  color: white;
}

#tagline-inner a {
  color: white;
  text-decoration: underline;
}

#tagline-inner a:hover {
  text-decoration: none;
}

#finally {
  text-transform: none;
  margin-bottom: 1em;
}

#mp-details {
  margin-bottom: 2em;
}

.mp-meta {
  margin-left: 1em;
  float: left;
}

.clear {
  clear: left;
}

textarea {
  height: 20em;
}

label.inline-label {
  display: inline;
  padding-right: 1em;
}

#postcode {
  font-size: 1.2em;
}

.field {
  margin-bottom: 1em;
}

input.submit {
  margin-left: 2em;
}
